 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>This page is a repository of the my machine learning models. I have explored many aspects starting from exploratory data analysis and simple supervised regression to image classification, clustering and pricinpal component regression</p>
                </div>
                <div class="col-lg-4">
                    <p>I am a graduate from the Indian Institute of Technology with 3 years of experience in product, customer, marketing and fraud analytics. Currently I am pursuing masters in Business Analytics from University of California, Davis </p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="https://drive.google.com/open?id=1_qKCqpWe8KZhTfr5NK5uuvqxGtwfVLd4" class="btn btn-lg btn-outline">
                        <i class="fa fa-download" download></i> Download Resume
                    </a>
                </div>
            </div>
        </div>
    </section>
